html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  padding:0;
  border: 1px dotted maroon;
  padding: 10px;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  border: 1px dotted maroon;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}