html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  padding:0;
  padding: 10px;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  border: 1px dotted maroon;
  background-color: aliceblue;
}

.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

li {
  margin-bottom: 20px;
}

li a {
  text-decoration: none;
  color: maroon;
  font-weight: 700;
}

li p {
  margin-top: 0px;
  font-weight: 100;
  color: grey;
}